.questPg {
  position: relative;
  display: grid;
  gap: 20px;
}

.back_btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.teamInfo {
  display: grid;
  gap: 10px;
  text-align: center;
}

.teamName {
  max-height: 80px;
  font-size: 1.1rem;
  text-align: left;
  border: 1px solid grey;
  overflow: auto;
}

.answerCont {
  display: grid;
  grid-template-areas:
    "questNum			questAnswer"
    "questNum			photoCont"
    "commentIcon	comment"
    "bottomBtn		bottomBtn";
  grid-template-columns: 30px 1fr;
  gap: 10px;
}

.questNum {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: questNum;
  border: 1px solid grey;
}

.questAnswer {
  height: 100%;
  grid-area: questAnswer;
  border: 1px solid grey;
}

.photoCont {
  grid-area: photoCont;
}

.photoExample {
  padding: 5px;
  border: 1px solid grey;
}

.photoAnswer {
  display: none;
}

.comment_icon {
  grid-area: commentIcon;
  font-size: 1.2rem;
  text-align: center;
}

.comment {
  height: 50px;
  grid-area: comment;
}

.bottom_btn {
  display: flex;
  flex-wrap: wrap;
  grid-area: bottomBtn;
  gap: 10px;
}

.bottom_btn button {
  padding: 5px 0;
  flex: 1;
}

.circle_btn {
}

.wrong_btn {
}
