.mapPg {
  text-align: center;
}

.back_btn {
}

.title {
}

.map_image {
  padding: 5px;
  margin: 0 auto;
  border: 1px solid grey;
}

.map_btns {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  gap: 10px;
}

.map_btns button {
  padding: 5px 10px;
}
