.startPg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px - 38px);
  font-size: 1.2rem;
}

.top_btns {
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
  gap: 5px;
}

.content {
  display: grid;
  gap: 15px;
}

.schoolKind,
.teamNum {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.schName {
  width: 80px;
}

.start_btn {
  padding: 10px;
  border-radius: 10px;
}
