.questPg {
  display: grid;
  gap: 20px;

  .teamInfo {
    display: grid;
    gap: 10px;
    text-align: center;

    .teamName {
      display: flex;
      text-align: left;
      gap: 10px;

      span {
        padding: 10px;
        width: 30px;
      }

      div {
        padding: 0 5px;
        width: calc(100vw - 20px - 30px - 10px);
        height: 50px;
        border: 1px solid grey;
        overflow-y: auto;
      }
    }
  }

  .answerCont {
    display: grid;
    grid-template-areas:
      "questNum			questAnswer	upLoadBtn"
      "questNum			questAnswer	photoBtn"
      "questNum			photoCont		photoCont"
      "commentIcon	comment			comment";
    grid-template-columns: 30px 1fr 30px;
    gap: 10px;

    .questNum {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: questNum;
      border: 1px solid grey;
    }

    .questAnswer {
      height: 100%;
      grid-area: questAnswer;
      border: 1px solid grey;
    }

    .upLoad_btn,
    .photo_btn {
      height: 30px;
    }

    .upLoad_btn {
      grid-area: upLoadBtn;
      font-size: 1rem;
    }

    .photo_btn {
      grid-area: photoBtn;
      font-size: 1.2rem;
    }

    .photoCont {
      grid-area: photoCont;

      .photoExample {
        padding: 5px;
        border: 1px solid grey;
      }

      .photoAnswer {
        display: none;
      }
    }

    .comment_icon {
      grid-area: commentIcon;
      font-size: 1.2rem;
      text-align: center;
    }

    .comment {
      height: 50px;
      grid-area: comment;
    }
  }
}
