.default {
  padding: 15px 10px;
  width: 100%;
}

.title {
  display: grid;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.content {
  margin-top: 20px;
}

.btnCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btnItem {
  width: 100%;
  height: 60px;
  font-size: 1.3rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btnItem:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24), 0 5px 5px rgba(0, 0, 0, 0.24);
}

.square_btn {
  width: 30px;
  height: 30px;
  font-size: 1rem;
}
