body {
  margin: 0;
  font-family: "GmarketSansMedium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

select {
  padding: 1.7px;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  overflow: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  overflow: auto;
}

img {
  display: block;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

svg {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
